%h1 Listing tenant_companies

%table
  %tr
    %th Name
    %th About
    %th
    %th
    %th

  - @tenant_companies.each do |tenant_company|
    %tr
      %td= tenant_company.name
      %td= tenant_company.about
      %td= link_to 'Show', tenant_company
      %td= link_to 'Edit', edit_tenant_company_path(tenant_company)
      %td= link_to 'Destroy', tenant_company, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tenant company', new_tenant_company_path
