%p#notice= notice
- content_for(:title) do
  - "Company::"+@tenant_company.name 

.row
  .span8
    %h3
      =@tenant_company.name

  .span4
    .well
      = link_to 'Edit', edit_tenant_company_path(@tenant_company), :class=>'btn'
      -# link_to 'Back', companies_path, :class=>'btn'
    - @contact = @tenant_company
    = render :partial=>'contact_details/contact_details', :local=>{:contact=>@tenant_company}
    
    - if !@tenant_company.about.blank? then
      %hr
      %p
        %b 
          ='About '+@tenant_company.name.to_s
      = @tenant_company.about
    - if @tenant_company.users.count > 0
      %hr
      %p
        %b
          People who work here
      %table.table
        - @tenant_company.users.each do |one_individual|
          %tr
            %td
              = link_to one_individual.name.to_s, one_individual
              %br
              %small
                =one_individual.role_name
