.row
  .span8
    .hero-unit
      %h1 Welcome to Etyme
      %p
        Timesheet management made simple

  .span4 
    .well
      %h3 Register
      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f|
        = f.error_notification
        = display_base_errors resource
        = f.input :name, :autofocus => true
        = f.input :email, :required => true
        = f.input :owned_tenant_company_name, :label=>'Company '
        = f.input :password, :required => true
        = f.input :password_confirmation, :required => true
        = f.button :submit, 'Sign up', :class => 'btn-primary'
      = render "devise/shared/links"
