.controls{:style=>'margin-bottom:5px;'}
  = f.input :type, :as=>:hidden
  = f.input_field :address,  :label=>false, :class=>'input-xxlarge', :placeholder=>"Address"
  %br
  = f.input_field :city,  :label=>false, :class=>'input', :placeholder=>"City"
  = f.input_field :zip,  :label=>false, :class=>'input', :placeholder=>"Zip"
  %br
  = f.input_field :state,  :label=>false, :class=>'input', :placeholder=>"State"
  = f.country_select :country
  = f.input_field :location, :as=>:select, :collection=>['Physical', 'Billing','Other'], :default=>'Physical', :label=>false, :class=>'input-small'
