= simple_form_for(@contact_detail) do |f|
  = f.error_notification

  .form-inputs
    = f.input :contactable_type
    = f.input :contactable_id
    = f.input :type
    = f.input :details
    = f.input :location

  .form-actions
    = f.button :submit
