%h1 Listing contact_details

%table
  %tr
    %th Contactable type
    %th Contactable
    %th Type
    %th Details
    %th Location
    %th
    %th
    %th

  - @contact_details.each do |contact_detail|
    %tr
      %td= contact_detail.contactable_type
      %td= contact_detail.contactable_id
      %td= contact_detail.type
      %td= contact_detail.details
      %td= contact_detail.location
      %td= link_to 'Show', contact_detail
      %td= link_to 'Edit', edit_contact_detail_path(contact_detail)
      %td= link_to 'Destroy', contact_detail, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Contact detail', new_contact_detail_path
