%p#notice= notice

%p
  %b Contactable type:
  = @contact_detail.contactable_type
%p
  %b Contactable:
  = @contact_detail.contactable_id
%p
  %b Type:
  = @contact_detail.type
%p
  %b Details:
  = @contact_detail.details
%p
  %b Location:
  = @contact_detail.location

= link_to 'Edit', edit_contact_detail_path(@contact_detail)
\|
= link_to 'Back', contact_details_path
