= simple_form_for(@job,  :html=>{:class=>' form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    %legend
      Customer
    = f.input :customer_name, :input_html=>{:class=>'input-xxlarge'}, :hint=>'Who is the customer? Type and select...', :label=>false
    = f.input :customer_id, :as=>:hidden
    = f.input :customer_type, :as=>:hidden
    %legend
      Job Details

    = f.input :name, :input_html=>{:class=>'input-xxlarge'}, :label=>'Job Title', :hint=>'Define the job in one sentence'
    = f.input :city, :input_html=>{:class=>'input-xxlarge'}, :label=>'City', :hint=>'Location(City)'
    = f.input :state, :input_html=>{:class=>'input-xxlarge'}, :label=>'State'
    = f.input :zip, :input_html=>{:class=>'input-xxlarge'}, :label=>'Zip'
    = f.input :start_date, :input_html=>{:class=>'input-xlarge datepicker'}
    = f.input :salary, :input_html=>{:class=>'input-xlarge'}
    = f.input :duration, :input_html=>{:class=>'input-xlarge'}
    = f.input :type, :as=>:select, :collection=>['H (Hire)', 'C2H (Contract to Hire)', 'C (Contract)', 'FL (FreeLance)'], :input_html=>{:class=>'input-xlarge '}
    = f.input :openings, :as=>:select, :collection=>1..20, :input_html=>{:class=>'input-xlarge '}
    = f.input :remaining_openings, :as=>:select, :collection=>1..20, :input_html=>{:class=>'input-xlarge '}
    = f.input :company_job_id, :input_html=>{:class=>'input-xlarge '}
    = f.input :category, :input_html=>{:class=>'input-xlarge '}
    %legend
      Description

    = f.input :description, :input_html=>{:class=>'input-xxlarge'}, :hint=>'Add more details for the job', :label=>false

  .form-actions
    = f.button :submit

:javascript
$(function(){
  
  $("#job_customer_name" ).autocomplete({
      source: "/directory/listings",  
      minLength: 2,
      focus: function( event, ui ) {
        $(this).val($(this).val());
        return false;
      },
      select: function(event, ui) {
        
        $('#job_customer_name').val(ui.item.name);
        
        $('#job_customer_id').val(ui.item.id);
        $('#job_customer_type').val(ui.item.type);

        return false;
      },
    }).data("ui-autocomplete")._renderItem = function( ul, item ) {
      console.log(item);
      return $( "<li></li>" ).data( "item.autocomplete", item )
          .append( "<a>"+(item.type=='User'?'<i class="icon-user" />':'<i class="icon-plus" />')+"<b>" + item.name + "</b><br/>" + item.details + "</a>" )
          .appendTo( ul );
    };

})
