.row
  .span8
    %h1 Jobs Market
  
    %table.table
      %tr
        %th Name
        %th
        %th
        %th

      - @jobs.each do |job|
        %tr
          %td= job.name
          %td= link_to 'Show', job
          %td= link_to 'Edit', edit_job_path(job)
          %td= link_to 'Destroy', job, :method => :delete, :data => { :confirm => 'Are you sure?' }
    =paginate @jobs
  .span4
    - if current_user.can_create_new_job? then
      = link_to 'New Job', new_job_path


%br

