.row
  .span8
    %h3 
      Users
    %table.table.table-condensed
      %thead
        %tr
          %th Username
          %th Email
          %th Registered
          %th Role
          %th
          %th
      %tbody
        - @users.each do |user|
          %tr
            %td= link_to user.name, user
            %td= user.email
            %td= user.created_at.to_date
            %td= user.roles.first.name.titleize unless user.roles.first.nil?
            %td
              %a.btn.btn-mini{"data-toggle" => "modal", :href => "#role-options-#{user.id}", :type => "button"} Change role
              = render user
            %td= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user
    = paginate @users  
  .span4
    .well
      = link_to 'Add new user', new_user_invitation_path,class: 'btn btn-primary'