%p#notice= notice

.row
  .span8
    %h3
      =@user.name
  .span4
    .well
      = link_to 'Edit', edit_the_user_path(@user), :class=>'btn'
      -# link_to 'Back', companies_path, :class=>'btn'
    - @contact = @user
    = render :partial=>'contact_details/contact_details', :local=>{:contact=>@user}
    