.row
  .span8
    %h3 
      Directory
    %p
      Who else is on Etyme

    %ul.nav.nav-tabs
      %li
        = link_to 'Individuals', directory_individuals_path
      %li.active
        = link_to 'Companies', directory_companies_path
    %table.table.table-condensed
      %thead
        %tr
          %th Name
          %th Employees
          %th
      %tbody
        - @companies.each do |company|
          %tr
            %td= company.name
            %td=company.users.count.to_s
            %td= link_to 'Show', company, :class=>'btn'
    = paginate @companies  
  .span4
    .well
