.row
  .span8
    %h3 
      Directory
    %p
      Who else is on Etyme

    %ul.nav.nav-tabs
      %li.active
        = link_to 'Individuals', directory_individuals_path
      %li
        = link_to 'Companies', directory_companies_path
    %table.table.table-condensed
      %thead
        %tr
          %th Name
          %th Company
          %th
      %tbody
        - @users.each do |user|
          %tr
            %td= user.name
            %td
              - if !user.actual_current_tenant_company_name
                .badge
                  NO COMPANY 
              - else
                = link_to user.actual_current_tenant_company_name, user.tenant_company
            %td= link_to 'Show', user, :class=>'btn'
    = paginate @users  
  .span4
    .well
