.span3
  - if @jobs_others.count > 0 then
    %b
      Jobs Available
    %table.table
      = render 'jobs/mini_job', :collection=>@jobs_my_company, :as=>'job'
  - else
    .alert
      %b
        No New Jobs available
