.span3
  - if @jobs_im_customer.count > 0 then
    %b
      My Issued Jobs
    %table.table
      = render 'jobs/mini_job', :collection=>@jobs_my_company
  - else
    .alert
      %b
        No jobs issued for you.
