.span3
  - if @jobs_my_company.count > 0 then
    %b
      Jobs Created
    %small
      Jobs created by your company
      =current_user.tenant_company.name
    %table.table
      = render 'jobs/mini_job', :collection=>@jobs_my_company, :as=>@job
  - else
    .alert
      %b
        You have created no jobs
        =link_to 'Click here', new_job, :class=>'btn'
        to create a job
