- if user_signed_in?
  = link_to root_path, :class => 'brand' do
    = current_user.current_tenant_company_name
    %sup
      Etymified
-else
  = link_to "Etyme", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      = link_to 'Job Market', jobs_path 
    %li
      = link_to 'Directory', directory_individuals_path 
    %li
      = link_to 'Team', users_path 
  - else
    %li
      = link_to 'Login', new_user_session_path
- if user_signed_in?
  .pull-right
    %ul.nav.pull-right
      %li
        .dropdown
          .btn-group
            %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = "Hi #{ current_user.name || current_user.username }"
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to users_path do
                  %i.icon-user
                  Users
                %li.divider
              %li
                = link_to edit_user_registration_path do
                  %i.icon-ribbon
                  Edit Account
              %li
                = link_to edit_the_user_path(current_user) do
                  %i.icon-pencil
                  Edit My Profile
              - if current_user.has_role? :owner then
                %li
                  = link_to edit_tenant_company_path(current_user.tenant_company) do
                    %i.icon-edit
                    Edit My Company
              - if current_user.belongs_to_a_company? then
                %li
                  = link_to tenant_company_path(current_user.tenant_company) do
                    %i.icon-eye-open
                    My Company Profile
              
              %li.divider
              %li
                = link_to destroy_user_session_path, :method=>'delete' do
                  %i.icon-eject
                  Logout

